.banner-top img {
  width: 100%;
  margin-left: 0;
  left: 0; }

.header-wrapper {
  top: -5em;
  background: initial; }
  .header-wrapper .container .logo img {
    height: 100%; }
  .header-wrapper .container #navigation-box #navigation {
    margin-right: 0; }
    .header-wrapper .container #navigation-box #navigation > li {
      padding: 0.2em 3em; }
      .header-wrapper .container #navigation-box #navigation > li a {
        color: white;
        font-size: 18px; }
      .header-wrapper .container #navigation-box #navigation > li:last-child {
        border: 2px solid #ff723b;
        border-radius: 5px;
        padding: 0.2em 2em;
        margin-left: 1em; }
  .header-wrapper .container .container-banner {
    position: absolute;
    left: 19%;
    top: 18em; }
    .header-wrapper .container .container-banner .text-banner {
      top: 20em; }
      .header-wrapper .container .container-banner .text-banner p {
        color: white;
        font-size: 6em;
        padding: 0.2em; }
    .header-wrapper .container .container-banner .group-button {
      margin-top: 7em;
      left: 12%; }
      .header-wrapper .container .container-banner .group-button a {
        padding: 0.5em 2em;
        color: white;
        background-color: #ff723b;
        border-radius: 3px;
        font-size: 2em;
        margin: 2em; }

aside .lop-dao-tao, aside .mon-hoc, aside .profile {
  margin: 1em 0;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: #f3f3f3;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.5em; }
  aside .lop-dao-tao .title-bg, aside .mon-hoc .title-bg, aside .profile .title-bg {
    background-color: dimgray;
    padding: 0.7em; }
  aside .lop-dao-tao .item-bg li, aside .mon-hoc .item-bg li, aside .profile .item-bg li {
    padding: 0.5em;
    border-bottom: 1px solid gray; }
    aside .lop-dao-tao .item-bg li a, aside .mon-hoc .item-bg li a, aside .profile .item-bg li a {
      font-size: 1em;
      text-align: center; }
      aside .lop-dao-tao .item-bg li a:hover, aside .mon-hoc .item-bg li a:hover, aside .profile .item-bg li a:hover {
        color: darkorange; }
    aside .lop-dao-tao .item-bg li:last-of-type, aside .mon-hoc .item-bg li:last-of-type, aside .profile .item-bg li:last-of-type {
      border-bottom: none; }
    aside .lop-dao-tao .item-bg li:hover, aside .mon-hoc .item-bg li:hover, aside .profile .item-bg li:hover {
      background-color: #dcdcdc; }
  aside .lop-dao-tao img, aside .mon-hoc img, aside .profile img {
    width: 50%;
    padding: 1em; }
  aside .lop-dao-tao p, aside .mon-hoc p, aside .profile p {
    font-size: 1em; }
  aside .lop-dao-tao ul li, aside .mon-hoc ul li, aside .profile ul li {
    font-size: 0.7em;
    color: black;
    padding: 0.3em; }

article {
  padding-left: 1em; }
  article .main-content {
    margin: 1em 0;
    border-radius: 3px;
    background-color: #f3f3f3;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em; }
    article .main-content .search-group {
      background-color: dimgray;
      padding: 0.7em;
      border-radius: 5px; }
      article .main-content .search-group input {
        width: 94%;
        padding: 0.3em;
        border-radius: 5px;
        line-height: initial; }
      article .main-content .search-group button {
        float: right;
        color: darkgray;
        padding: 0.4em;
        border-radius: 5px;
        background-color: #ececec; }
      article .main-content .search-group .search-item {
        margin: 0.7em 0;
        color: black; }
        article .main-content .search-group .search-item select {
          width: 45%;
          padding: 0.3em;
          border-radius: 5px;
          line-height: initial; }
        article .main-content .search-group .search-item button {
          float: right;
          color: darkgray;
          padding: 0.4em;
          border-radius: 5px;
          background-color: #ececec; }
    article .main-content .post-item {
      border: 1px solid gray;
      padding: 1em; }
      article .main-content .post-item div img {
        width: 100%;
        border-radius: 50px; }
      article .main-content .post-item .infor-post {
        text-align: left; }
        article .main-content .post-item .infor-post h2 {
          margin-top: 0; }
          article .main-content .post-item .infor-post h2 a {
            font-size: 1em;
            font-weight: bold; }
        article .main-content .post-item .infor-post p {
          font-weight: normal;
          margin-bottom: 20px;
          line-height: 0; }
      article .main-content .post-item .location, article .main-content .post-item .time-post {
        color: #ff723b; }
        article .main-content .post-item .location p, article .main-content .post-item .time-post p {
          font-weight: normal; }
        article .main-content .post-item .location .mac-title-giasu, article .main-content .post-item .location .mac-title-suatday, article .main-content .post-item .time-post .mac-title-giasu, article .main-content .post-item .time-post .mac-title-suatday {
          padding: 0.3em 1em;
          background-color: #ff723b;
          color: white;
          font-weight: bold;
          margin: -1.4em -2.5em 1em 0; }
        article .main-content .post-item .location .mac-title-suatday, article .main-content .post-item .time-post .mac-title-suatday {
          background-color: green; }
    article .main-content .form-infor .post-item-personal {
      border: 1px solid gray;
      padding: 1em 2em;
      text-align: left;
      border-radius: 5px; }
      article .main-content .form-infor .post-item-personal h2 {
        margin-top: 0;
        margin-bottom: 0.2em; }
        article .main-content .form-infor .post-item-personal h2 a {
          font-size: 1em;
          font-weight: bold; }
      article .main-content .form-infor .post-item-personal .extar-infor p {
        font-size: 0.5em;
        color: burlywood;
        font-style: italic;
        padding: 1em;
        margin-bottom: 0; }
        article .main-content .form-infor .post-item-personal .extar-infor p:first-of-type {
          float: left; }
      article .main-content .form-infor .post-item-personal p {
        margin-bottom: 0;
        font-weight: normal; }
      article .main-content .form-infor .post-item-personal .icon {
        color: orangered; }
        article .main-content .form-infor .post-item-personal .icon i {
          padding: 0em 1em; }
      article .main-content .form-infor .post-item-personal .text-field, article .main-content .form-infor .post-item-personal .text-label {
        padding: 0.7em;
        border-radius: 5px; }
        article .main-content .form-infor .post-item-personal .text-field input, article .main-content .form-infor .post-item-personal .text-label input {
          width: 94%;
          padding: 0.3em;
          border-radius: 5px;
          line-height: initial;
          margin: 1em;
          color: #505050;
          font-size: 1em;
          font-weight: normal; }
          article .main-content .form-infor .post-item-personal .text-field input:first-of-type, article .main-content .form-infor .post-item-personal .text-label input:first-of-type {
            background-color: #efefef; }
        article .main-content .form-infor .post-item-personal .text-field p, article .main-content .form-infor .post-item-personal .text-label p {
          padding: 1.9em 0.2em; }
      article .main-content .form-infor .post-item-personal .btn-group button {
        background-color: #ff723b;
        color: white;
        font-size: 0.7em;
        float: right;
        padding: 0.5em;
        margin: 0.3em; }

#navigation-box {
  margin-top: 15px; }
  #navigation-box ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0; }
    #navigation-box ul a {
      display: block;
      color: #333;
      text-decoration: none;
      font-weight: 700;
      font-size: 0.7em;
      line-height: 32px;
      padding: 0 15px; }
    #navigation-box ul li {
      position: relative;
      float: left;
      margin: 0;
      padding: 0; }
      #navigation-box ul li:hover {
        background: #ff723b;
        border-radius: 5px;
        border-radius: 5px;
        display: block;
        color: chocolate; }
        #navigation-box ul li:hover ul li {
          padding: 0.2em;
          font: 1em; }
      #navigation-box ul li ul {
        top: 39px; }
    #navigation-box ul .current-menu-item {
      background: #ddd; }
    #navigation-box ul ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #4c4145;
      padding: 0; }
      #navigation-box ul ul li {
        float: none;
        width: 200px; }
      #navigation-box ul ul ul {
        top: 0;
        left: 100%; }

/*# sourceMappingURL=gia-su.css.map */
