.banner-top{
    img{
        width: 100%;
        margin-left: 0;
        left: 0;
    }
}
.header-wrapper{
    top: -5em;
    background: initial;
    .container{
        .logo{
            img{
                height: 100%;
            }
        }
        #navigation-box{
            #navigation{
                margin-right: 0;
                > li{
                    padding: 0.2em 3em;
                    a{
                        color: white;
                        font-size: 18px;
                    }
                     &:last-child{
                        border: 2px solid #ff723b;
                        border-radius: 5px;
                        padding: 0.2em 2em;
                        margin-left: 1em;
                    }
                }
            }
        }
        
        .container-banner{
            position: absolute;
            left:19%;
            top: 18em;
            .text-banner{
                top: 20em;
                p{
                    color: white;
                    font-size: 6em;
                    padding: 0.2em;
                }
            }
            .group-button{
                margin-top: 7em;
                left:12%;
                a{
                    padding: 0.5em 2em;
                    color: white;
                    background-color: #ff723b;
                    border-radius: 3px;
                    font-size: 2em;
                    margin: 2em;
                }
            }
        }
    }
}  


//aside infor
aside{
    .lop-dao-tao,.mon-hoc, .profile{
        margin: 1em 0;
        border: 1px solid gray;
        border-radius: 3px;
        background-color: #f3f3f3;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        .title-bg{
            background-color: dimgray;
            padding: 0.7em;
        }
        .item-bg{
            li{
                padding: 0.5em;
                border-bottom: 1px solid gray;
                a{
                    font-size: 1em;
                    text-align: center; 
                    &:hover{
                        color: darkorange;
                    }
                }
                &:last-of-type{
                    border-bottom: none;
                }
                &:hover{
                    background-color:#dcdcdc;
                }
            }
            
        }
        img{
            width: 50%;
            padding: 1em;
        }
        p{
            font-size: 1em;
        }
        ul{
            li{
                font-size: 0.7em;
                color: black;
                padding: 0.3em;
            }
        }
    }
}

//main content
article{
    padding-left: 1em;
    .main-content{
        margin: 1em 0;
//        border: 1px solid gray;
        border-radius: 3px;
        background-color: #f3f3f3;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        .search-group{
            background-color: dimgray;
            padding: 0.7em;
            border-radius: 5px;
            input{
                width: 94%;
                padding: 0.3em;
                border-radius: 5px;
                line-height: initial;
            }
            button{
                float: right;
                color: darkgray;
                padding: 0.4em;
                border-radius: 5px;
                background-color: #ececec;
            }
            .search-item{
                margin: 0.7em 0;
                color: black;
                select{
                    width: 45%;
                    padding: 0.3em;
                    border-radius: 5px;
                    line-height: initial;
                }
                button{
                    float: right;
                    color: darkgray;
                    padding: 0.4em;
                    border-radius: 5px;
                    background-color: #ececec;
                }
                
            }
        }
        .post-item{
            border: 1px solid gray;
            padding: 1em;
            div{
//                float: left;
                img{
                    
                    width: 100%;
                    border-radius: 50px;
                }
            }
            .infor-post{
//                float: left;
                text-align: left;
                h2{
                    a{
                        font-size: 1em;
                        font-weight: bold;
                    }
                    
                    margin-top: 0;
                }
                p{
                    font-weight: normal;
                    margin-bottom: 20px;
                    line-height: 0;
                }
            }
            .location, .time-post{
                color:#ff723b;
                p{
                    font-weight: normal;
                }
                .mac-title-giasu, .mac-title-suatday{
                    padding: 0.3em 1em;
                    background-color: #ff723b;
                    color: white;
                    font-weight: bold;
                    margin: -1.4em -2.5em 1em 0;
                    
                }
                .mac-title-suatday{
                    background-color: green;
                }
            }
        }
        
        .form-infor{
            .post-item-personal{
                border: 1px solid gray;
                padding: 1em 2em;
                text-align: left;
                border-radius: 5px;
                h2{
                    a{
                        font-size: 1em;
                        font-weight: bold;
                    }
                    margin-top: 0;
                    margin-bottom: 0.2em;
                }
                .extar-infor{
                    margin-top: 2em;
                    p{
                        font-size: 0.5em;
                        color: burlywood;
                        font-style: italic;
                        padding: 1em;
                        margin-bottom: 0;
                        &:first-of-type{
                            float: left;

                        }

                    }
                }
                .location,.time, .email,.contact{
                    text-align: inherit;
                    color: orangered;
                    padding: 0.5em;
                    i{
                        float: left;
                        margin-right: 1em;
                    }
                }
                p{
                    margin-bottom: 0;
                    font-weight: normal;
                }
                .icon{
                    color: red;
                    i{
                         padding: 0em 1em;
                    }

                }

                .text-field, .text-label{
                    padding: 0.7em;
                    border-radius: 5px;
                    input{
                        width: 94%;
                        padding: 0.3em;
                        border-radius: 5px;
                        line-height: initial;
                        margin: 1em;
                        color: #505050;
                        font-size: 1em;
                        font-weight: normal;
                        &:first-of-type{
                            background-color: #efefef;
                        }
                    }
                    p{
                        padding: 1.9em 0.2em;
                    }
                }
                .btn-group{
                    button{
                        background-color: #ff723b;
                        color: white;
                        font-size: 0.7em;
                        float: right;
                        padding: 0.5em;
                        margin: 0.3em;
                    }
                }
                .dang-bai-line{
                    margin-bottom: 0.2em;
                    .text-label, .text-field{
                        padding: 0.3em;
                        border-radius: 5px;
                        input,select{
                            width: 94%;
                            padding: 0.3em;
                            border-radius: 5px;
                            line-height: initial;
                            margin: 0.4em;
                            color: #505050;
                            font-size: 1em;
                            font-weight: normal;
                            &:first-of-type{
                                background-color: #efefef;
                            }
                        }
                        p{
                            padding: 1.5em 0.2em;
                        }
                        textarea{
                            width: 94%;
                            
                            border-radius: 5px;                           
                        } 
                       
                    }
                    .checkbox-group,.radio-button{
                        float: left;
                        color: dimgrey;
                        font-weight: normal;
                        font-size: 1em;
                        padding: 1.2em 1em;
                        input[type="checkbox"],input[type="radio"]{
                            background-color: #e2e2e2;
                            border: 1px solid darkgray;
                            border-radius: 3px;
                            padding: 0.5em;
                            margin-right: 0.5em;
                            margin-left: 0.8em;
                        }
                        input[type="radio"]{
                            border-radius: 50px;
                        }
                    }
                }
                .infor-nguoidang{
                    img{
                        float: left;
                        width: 10%;
                        padding: 0.5em;
                        position: relative;
                    }
                    p{
                        font-weight: bold;
                        position: absolute;
                        top: 4.5em;
                        left: 9em;
                    }
                }
            }   
        }
        
        
//        advertisement
        .goi-ads{
            padding-bottom: 2em;
            .package{
                margin-top: 2em;
                img{
                    position: relative;
                    width: 60%;
                    &:hover{
                        opacity: 0.7;
                    }
                }
                .text-ads{
                    position: absolute;
                    top: 2em;
                    left: 5.9em;
                    h4{
                        padding-bottom: 0;
                        font-weight: bold;
                        color: beige;
                    }
                    p{
                        padding-bottom: 0;
                        margin-bottom: 0;
                        color: beige;
                    }
                }
            }
            .so-luong{
//                background-color: brown;
                border: 2px solid #ff723b;
                margin-top: 6em;
                padding: 0.5em;
                border-radius: 5px;
                p{
                    &:first-of-type{
                        border-bottom: 2px solid #ff723b;
                        font-size: 1em;
                    }
                    &:last-of-type{
                        font-size: 2em;
                    }
                }
            }
            .btn-mua{
                margin-top: 10em;
                button{
                    background-color: #ff723b;
                    padding: 0.5em 1em;
                    font-size: 0.7em;
                    &:hover{
                        background-color: chocolate;
                    }
                }
                
            }
        }
    }
}

#navigation-box
{
	margin-top:15px;
    ul{
        list-style:none;
        position:relative;
        margin:0;
        padding:0;
        a{
            display:block;
            color:#333;
            text-decoration:none;
            font-weight:700;
            font-size:0.7em;
            line-height:32px;
            padding:0 15px;
        }
        li{
            position:relative;
            float:left;
            margin:0;
            padding:0;
            &:hover{
                background:#ff723b;
                border-radius: 5px;
                border-radius: 5px;
                display:block;
                color: chocolate;
                ul{

                    li{
                        padding: 0.2em;
                        font: 1em;
                        &:nth-child(2):hover{
                            
                        }
                    }
                }
            }
            ul{
                top:39px;
            }
        }
        .current-menu-item{
            background:#ddd;
        }
        ul{
            display:none;
            position:absolute;
            top:100%;
            left:0;
            background:#4c4145;
            padding:0;
            li{
                float:none;
	            width:200px;
            }
            ul{
                top:0;
	            left:100%
            }
        }
    }
}
